@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    --primarycolor: #e2d703;
    --secondarycolor: #111d1d;
    background-color: #111d1d;
    font-family: Poppins, sans-serif;
    color: #fff;
}
.headline {
    text-align: center;
}
.cardmovie {
    text-align: center;
    color: #fff;
    font-size: 18px;
}
